.modalClass
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.048);
    animation-name: shortLife;
    animation-duration: 500ms;
    display: none;
    animation-iteration-count: 1;
}
.modalDetail
{
    animation-name: short;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-color: blueviolet;
    box-shadow: 0px 0px 10px black;
    border-radius: 8px;
    color: white;
    width: max-content;
    padding: 50px;
    font-size: 1.52rem;
}

@keyframes short{
    0%
    {
        display: flex;
    }
    100%
    {
        display: hidden;
        display:none;
    }
}